.form {
  width: 700px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #41459555 25%, transparent 25%) -13px 0/
      26px 26px,
    linear-gradient(225deg, #414595 25%, transparent 25%) -13px 0/ 26px 26px,
    linear-gradient(315deg, #41459555 25%, transparent 25%) 0px 0/ 26px 26px,
    linear-gradient(45deg, #414595 25%, #e5e5f7 25%) 0px 0/ 26px 26px;
}
